%h1 Listing menus
- unless @menus.blank?
  = table_for(@menus) do |table|
    = table.data  :actions => :all do
      - table.cell(:name)
      - table.cell(:category)
      - table.cell(:price)
      - table.cell(:is_vegetarian)
      - table.cell(:dish_type)
  = will_paginate @followers
- else
  %p Sorry, no menus found.
%br
= link_to 'New Menu', new_menu_path
