= button_to 'Download PDF Menu',root_path, class: 'download_menu_btn'

.page-header
  %h1.title Our menu

.tabbable.tabs-left
  %ul.nav.nav-tabs
    %li.active
      %a{"data-toggle" => "tab", href: "#hotpot"} Hotpot
    %li
      %a{"data-toggle" => "tab", href: "#bbq"} BBQ
  .tab-content
    #hotpot.tab-pane.active
      %ul.thumbnails
        = render partial: 'home/menu', collection: Menu.find_all_by_dish_type('Hotpot')
    #bbq.tab-pane
      %ul.thumbnails
        = render partial: 'home/menu', collection: Menu.find_all_by_dish_type('BBQ')


:javascript
  $(function(){
  })

