%p Hi #{@follower.name}
%p
  Thank you for subscribing newsletters from Royal Chinese Restaurant.
%p
  Congratulations! Now you can received the first hand information from us about our latest promotion.
  You can always go and visit our website #{link_to root_url, root_url} to learn more about us.

= render partial: "share/unsubscribe"