$bg-color-dark: #660000;
$bg-color-light: #cc3300;
$default-font-color: #ffffff;
$accent-color: #ffcc66;
$accent-color-light: #ffcc33;
$gray: #999;
$dark-scene-bg-color: #2C2C2C;
$dark-scene-bg-color-dark: #333;
$dark-scene-bg-color-light: #444;
$logo-height: 54px;
$title-font-family: Lato, Helvetica, Arial, sans-serif;

@import 'compass/css3/images';
@import 'compass/css3/box-shadow';