$map-width: 600px;
$map-height: 400px;
$bg-color-dark: #660000;
$bg-color-light: #cc3300;
$default-font-color: #ffffff;
$accent-color: #ffcc66;

body {
  background-color: $bg-color-dark;
  background-image: radial-gradient(50% 50%, circle closest-corner, $bg-color-light, $bg-color-dark 70%);
  background-image: -o-radial-gradient(50% 50%, circle closest-corner, $bg-color-light, $bg-color-dark 70%);
  background-image: -moz-radial-gradient(50% 50%, circle closest-corner, $bg-color-light, $bg-color-dark 70%);
  background-image: -webkit-radial-gradient(50% 50%, circle closest-corner, $bg-color-light, $bg-color-dark 70%);
  background-image: -ms-radial-gradient(50% 50%, circle closest-corner, $bg-color-light, $bg-color-dark 70%);

  font-size: 13px;
  color: $default-font-color;
}

.cap {
  text-transform: UPPERCASE;
}

h1, h2, h3, h4, h5, h6, label {
  color: $default-font-color;
}

input, textarea, select, .uneditable-input {
  height: auto;
}

table {
  font-size: 12px;
}

a {
  color: $bg-color-light;

  &:hover {
    color: $bg-color-dark;
  }
}

.footer {
  margin-top: 40px;

  .logo {
    margin-top: 15px;
  }

  a {
    @extend .accent;
    &:hover {
      color: #999;;
    }
  }
}

.accent {
  color: $accent-color;
}

.left {
  float: left;
}

.right {
  float: right;
}

.container {
  width: 960px;
}

.header {
  .logo {
    margin-top: 18px;
    display: inline-block;
  }
  .navbar.navbar-inner {
    box-shadow: none;
    padding-right: 0px;
    background-image: none;
    background-color: transparent;
    margin-top: 45px;

    a {
      color: #ffffff;
      background-color: transparent;
      &:hover {
        color: #999;
        background-color: transparent;
      }
    }
  }
}

.table-striped tbody tr:nth-child(odd) td, .table-striped tbody tr:nth-child(odd) th {
  background-color: $bg-color-dark;
}

.map_container {
  width: $map-width;
  color: #000000;
  img {
    max-width: none;
  }

  .gmaps4rails_map {
    width: $map-width;
    height: $map-height;
  }

}